<p>bla <b>ble em negrito</b></p>
<p>bla <em>ble enfatizado</em></p>
<p>bla <strong>ble forte</strong></p>
<p>bla <i>ble em italico</i></p>
<p>bla <sup>ble superior</sup></p>
<p>bla <sub>ble inferior</sub></p>
<p>bla <del>ble taxado</del></p>
<p>bla <code>ble de código de computador</code></p>